{% extends "layouts/default.twig" %}

{# include noindex header in layout: #}
{% set noindex = true %}

{% block content %}

<h1>
  404: page not found
</h1>
<p>
  Edit me in /app/templates/404.twig
</p>

{% endblock %}
